/* padding de la nav-bar
Edit by Niko 18/07/2022
 */

.subtitle {
    width: 100%;
    text-align: right;

}

.control {
    width: 100%;
    text-align: right;
    margin: 2rem 20rem 0 8rem;

}

.menu {
    width: 100%;
    text-align: right;
    margin: 0 20rem 0 8rem;

}

/* Edit by Speedou 25/07 */
/* Couleur navBar */




/* Edit by Speedou 25/07 */
/* Texte d'accueil surligné */
.has-text-centered.title.is-1 {
    text-decoration: underline;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.message.is-info {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 10rem;
    text-align: center;
}


/* Edit by Speedou 25/07 */
/* Couleur footer */
.footer {
    padding: 1rem 1.5rem 1rem;
    background-color: #f5f5f5;
}

/* Edit by Speedou 25/07 */
/* Mise en place des card d'enchère */
.card {
    text-align: center;
    display: inline-grid;
    align-items: center;
    margin-inline-end: 5rem;
    margin-top: 5rem;
    margin-bottom: 9rem;
    width: 35%;
    margin-left: 3rem;
}

.card-image {
    height: 5rem;
    text-align: -webkit-center;
    margin-top: 2rem;
}

.card-content {
    text-align: -webkit-center;
}

.media {
    text-decoration: underline;
}

.is-flex {
    padding-top: 1rem;
    padding-left: 1rem;
    width: 50%;
}

.filtres {
    margin-left: 1rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
}

.categories {
    padding-left: 1rem;
    margin-top: 1rem;
    display: inline-block;
}

.categorie-select {
    margin-left: 0.75rem;
    display: inline-block;
}

.cat {

}

.openlist {

}

.currentlist {

}

.flex-btn-search {
    margin-left: 1.75rem;
    margin-top: 1rem;
    display: inline-grid;
}

.account-create {
    text-decoration: underline;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.form-login {
    max-width: 50%;
    margin-top: 15rem;
}

.login-message {
    text-decoration: underline;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: -9rem;
}

/* Edit by Speedou 28/07/2022 */
/* Carte Log In */
.login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pseudo {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#password {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.options-form {
    display: flex;
    flex-direction: column;
    margin-left: 8rem;
}

.btn-form-login {
    margin-top: 2rem;
    display: flex;
}

.form-new-user {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4rem;
    flex-direction: row;
    justify-content: center;
}

.form-new-user > .input-container > label {
    display: flex;
    align-items: center;
}

.form-new-user > .input-container > label > input {
    margin-left: 2rem;
    min-width: 13rem;
}

.input-container-left {
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: normal;
    align-content: space-around;
}

.input-container-right {
    display: flex;
    flex-direction: column;
    align-items: normal;
    align-content: space-around;
}

/* Edit by Speedou 28/07/2022 */
/* Bouton créer / Annuler Sign Up */
.sign-up-create-button {
    flex-direction: column-reverse;
    display: grid;
    justify-items: stretch;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.sign-up-cancel-button {
    flex-direction: column-reverse;
    display: grid;
    justify-items: stretch;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.create-button {
    position: relative;
    left: 94%;
    top: inherit;
    transform: translate(-50%, -50%);
}

/* Edit by Speedou 28/07/2022 */
/* Mise en page du formulaire de mise en vente */
.sell-form {
    text-decoration: underline;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.nameArticle {
    display: list-item;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.description {
    display: list-item;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.categoriesSell {
    display: list-item;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.categoriesSell{
    display: list-item;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 63rem;
}

.file.has.name {
    display: list-item;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.file-name {
    display: list-item;
    margin-bottom: 1rem;
}

.file-input {
    display: flex;
}

.prix {
    display: list-item;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.date-debut {
    display: list-item;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.date-fin {
    display: list-item;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.rue-enchere {
    display: list-item;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ZIP-enchere {
    display: list-item;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.street-enchere {
    display: list-item;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.enchere-buttons {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: inherit;
}

/* Edit by Speedou 28/07/2022 */
/* Table d'affichage du profil utilisateur */
.user-info{

}

.navbar-item > img {
    max-height: 4.75rem;
}

.max-width50 {
    max-width: 50%;
}
