<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>fr/eni/encheres/groupe_2/controller/HomeController.java</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>accueil</servlet-name>
        <jsp-file>/WEB-INF/view/EncherePage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>accueil</servlet-name>
        <url-pattern>/accueil</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>SignUp</servlet-name>
    <jsp-file>/WEB-INF/view/SignUp.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>login</servlet-name>
        <jsp-file>/WEB-INF/view/LoginPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/loginpage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>vente</servlet-name>
        <jsp-file>/WEB-INF/view/DetailVente.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>vente</servlet-name>
        <url-pattern>/jspvente</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>detailArticle</servlet-name>
        <jsp-file>/WEB-INF/view/DetailArticle.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>detailArticle</servlet-name>
        <url-pattern>/detailArticle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logout</servlet-name>
        <jsp-file>/WEB-INF/view/LogoutPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>profilUtilisateur</servlet-name>
        <jsp-file>/WEB-INF/view/ProfilPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>profilUtilisateur</servlet-name>
        <url-pattern>/profilPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>navbar-public</servlet-name>
        <jsp-file>/WEB-INF/components/public/navbar-public.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>navbar-public</servlet-name>
        <url-pattern>/navbar-public</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>navbar-private</servlet-name>
        <jsp-file>/WEB-INF/components/loggedContext/navbar-private.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>navbar-private</servlet-name>
        <url-pattern>/navbar-private</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>footer</servlet-name>
        <jsp-file>/WEB-INF/components/public/footer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>footer</servlet-name>
        <url-pattern>/footer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>error-toast</servlet-name>
        <jsp-file>/WEB-INF/components/public/error-message-toast.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>error-toast</servlet-name>
        <url-pattern>/error-toast</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sign-up-form</servlet-name>
        <jsp-file>/WEB-INF/components/SignUp/sign-up-formulaire.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>sign-up-form</servlet-name>
        <url-pattern>/sign-up-form</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>card-article</servlet-name>
        <jsp-file>/WEB-INF/components/EncherePage/card-encheres.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>card-article</servlet-name>
        <url-pattern>/card-article</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>search-article</servlet-name>
        <jsp-file>/WEB-INF/components/EncherePage/search-formulaire.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>search-article</servlet-name>
        <url-pattern>/search-article</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>detail-article</servlet-name>
        <jsp-file>/WEB-INF/components/DetailArticle/card-detail-article.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>detail-article</servlet-name>
        <url-pattern>/detail-article</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>search-connected</servlet-name>
        <jsp-file>/WEB-INF/components/EncherePage/search-connected.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>search-connected</servlet-name>
        <url-pattern>/search-connected</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>nouvel-article</servlet-name>
        <jsp-file>/WEB-INF/components/DetailVente/formulaire-vente.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>nouvel-article</servlet-name>
        <url-pattern>/nouvel-article</url-pattern>
    </servlet-mapping>

</web-app>